<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom py-3 shadow-sm">
  <div class="container">
    
    <!-- Brand -->
    <a class="navbar-brand font-weight-bold text-primary" href="/">
      💘 AiSteadMai 💘
    </a>

    <!-- Toggle for mobile -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main"
      aria-controls="navbar-collapse-main" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nav links -->
    <div class="collapse navbar-collapse" id="navbar-collapse-main">
      <ul class="navbar-nav ml-auto align-items-center">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Sign In</a>
        </li>

        <li class="nav-item">
          <a class="btn btn-primary btn-sm ml-md-3" href="{% url 'register' %}">Sign Up</a>
        </li>

      </ul>
    </div>

  </div>
</nav>
