<!--   Core   -->
<script src="/static/assets/js/plugins/jquery/dist/jquery.min.js"></script>
<script src="/static/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--   Optional JS   -->
<!--   Argon JS   -->
<script src="/static/assets/js/argon-dashboard.min.js?v=1.1.0"></script>

<!-- Custom Scripts -->
<script>
  document.addEventListener("click", function (event) {
    const navbar = document.getElementById("navbar-collapse-main");
    const toggle = document.querySelector(".navbar-toggler");

    // If navbar is open AND click is outside both the navbar and the toggle button
    if (
      navbar.classList.contains("show") &&
      !navbar.contains(event.target) &&
      !toggle.contains(event.target)
    ) {
      toggle.click(); // Trigger the toggle to close it
    }
  });
</script>