{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Set New Password {% endblock %}

{% block content %}
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small class="custom-heading">Set your new password</small>
          </div>
          <form method="POST">
            {% csrf_token %}
            <!-- New Password -->
            <div class="form-group">
              {{ form.new_password }}
              {% for error in form.new_password.errors %}
                <span class="text-error">{{ error }}</span>
              {% endfor %}
            </div>

            <!-- Confirm Password -->
            <div class="form-group">
              {{ form.confirm_password }}
              {% for error in form.confirm_password.errors %}
                <span class="text-error">{{ error }}</span>
              {% endfor %}
            </div>

            <!-- Non-field errors (e.g. mismatch) -->
            {% if form.non_field_errors %}
              <div class="text-error text-center">
                {% for error in form.non_field_errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% endif %}

            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4">Update Password</button>
            </div>
          </form>
          {% if msg %}
          <div class="text-danger text-center">{{ msg }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block stylesheets %}
<style>
  .text-error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    display: block;
  }

  .custom-heading {
    font-size: 1.0rem;
    font-weight: 500;
  }
</style>
{% endblock stylesheets %}